.button {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);

  border: 1px solid var(--color);
  border-radius: var(--border-radius-sm);

  padding: var(--padding-sm) var(--padding-xl);

  transition-property: color, background-color;
  transition-duration: var(--transition-time-fast);
  transition-timing-function: ease-in;
}

.buttonPaddingSmall {
  padding: var(--padding-xs);
}

.button:hover {
  color: var(--background);
  background-color: var(--color);
}
