.mainSection {
  display: flex;
  flex-direction: column;
  flex: 0;

  border: 1px solid var(--color);
  border-radius: var(--border-radius-sm);
}

.messagesSection {
  flex: 1;
  flex-basis: 0;
  justify-content: flex-end;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);

  padding: var(--padding-2xl) var(--padding-lg);
  overflow-y: hidden;
  overflow-wrap: anywhere;
}

.message {
  position: relative;
  border-radius: var(--border-radius-base);

  padding: 0 var(--padding-lg);

  background-color: var(--faded);
  color: var(--background);
  word-break: break-word;
}

.svgLeft {
  position: absolute;
  left: -8px;
}

.svgRight {
  position: absolute;
  right: -8px;
}

.polygon {
  fill: var(--faded);
}

.messageReceived {
  align-self: flex-start;

  margin-left: var(--padding-base);
  margin-right: var(--padding-6xl);

  border-top-left-radius: 0;
}

.messageSent {
  align-self: flex-end;

  margin-left: var(--padding-4xl);
  margin-right: var(--padding-base);

  border-top-right-radius: 0;
}

.inputsSection {
  padding: var(--padding-base);
  border-top: 1px solid var(--color);

  display: flex;
  gap: var(--spacing-base);
  flex: 0;
}

.input {
  flex: 1;

  border: 1px solid var(--color);
  border-radius: var(--border-radius-sm);

  padding: 0 var(--padding-sm);
}
