.mainSection {
  display: flex;
  flex-direction: column;
  flex: 0;

  border: 1px solid var(--color);
  border-radius: var(--border-radius-sm);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--color);
  padding-left: var(--padding-lg);
}

.button {
  transition-property: color, background-color;
  transition-duration: var(--transition-time-fast);
  transition-timing-function: ease-in;
}

.button:hover {
  color: var(--background);
  background-color: var(--color);
}

.closeButton {
  border-left: 1px solid var(--color);
  padding: var(--padding-xs) var(--padding-lg);
}

.messagesSection {
  flex: 1;
  justify-content: flex-end;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);

  padding: var(--padding-2xl) var(--padding-lg);
}

.message {
  position: relative;
  border-radius: var(--border-radius-base);

  padding: 0 var(--padding-lg);

  background-color: var(--faded);
  color: var(--background);
}

.svgLeft {
  position: absolute;
  left: -8px;
}

.svgRight {
  position: absolute;
  right: -8px;
}

.polygon {
  fill: var(--faded);
}

.messageReceived {
  align-self: flex-start;

  margin-left: var(--padding-base);
  margin-right: var(--padding-6xl);

  border-top-left-radius: 0;
}

.messageSent {
  align-self: flex-end;

  margin-left: var(--padding-4xl);
  margin-right: var(--padding-base);

  border-top-right-radius: 0;
}

.inputsSection {
  padding: var(--padding-base);
  border-top: 1px solid var(--color);

  display: flex;
  gap: var(--spacing-base);
  flex: 0;
}

.input {
  flex: 1;

  border: 1px solid var(--color);
  border-radius: var(--border-radius-sm);

  padding: 0 var(--padding-sm);
}

.sendButton {
  padding: var(--padding-sm) var(--padding-sm);
  padding-left: var(--padding-base);
  border: 1px solid var(--color);
  border-radius: var(--border-radius-sm);
}
