.section {
  border: 1px solid var(--color);
  border-radius: var(--border-radius-sm);
  padding: var(--padding-sm);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: var(--text-base);
}

.searchFriendsDiv {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);
}

.form {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.input {
  flex: 1;

  border: 1px solid var(--color);
  border-radius: var(--border-radius-sm);

  padding: 0 var(--padding-sm);
}

.button {
  padding: 0.125rem;
  border: 1px solid var(--color);
  border-radius: var(--border-radius-sm);

  transition-property: color, background-color;
  transition-duration: var(--transition-time-fast);
  transition-timing-function: ease-in;
}

.button:hover {
  color: var(--background);
  background-color: var(--color);
}

.searchBar {
  display: grid;
  grid-template-columns: 1fr;
}

.friendsDiv {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.friend {
  display: grid;
  grid-template-columns: 1fr;
}

.settingsDiv {
  display: flex;
  flex-direction: column;
  gap: var(--padding-sm);
}

.smallerButton {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr;
}
