.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--color);
  padding-left: var(--padding-lg);
}

.header > button {
  border: 0;
  border-radius: 0;
  border-left: 1px solid var(--color);
}
