.div {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: var(--text-2xl);
}

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input {
  border: 1px solid var(--faded);
  border-radius: var(--border-radius-sm);

  padding: 0 var(--padding-xs);

  font-size: var(--text-xl);
  color: var(--faded);
}

.inputWithOclusion {
  padding-left: calc(1.5rem + 2 * var(--padding-xs));
}

.input:active {
  border-color: var(--color);
}

.eye {
  position: absolute;
  bottom: 18%;
  left: var(--spacing-xs);
  color: var(--faded);
}

.error {
  width: fit-content;
  background-color: var(--error);

  font-size: var(--text-base);

  margin: var(--padding-xs) var(--padding-xs);
  padding: 0 var(--padding-xs);
  border-radius: var(--border-radius-sm);

  overflow: hidden;
}
